* {
    margin:0;
    padding:0;
} 
/* apply a natural box layout model to all elements */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    *behavior: url(scripts/boxsizing.htc);    
}
/* clearfix */
/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}
html, 
body {
    height: 100%;
}
body {
    width: 100%;
    margin: 0 auto 0 auto;
    background: #282828;
}
/* Opera Fix */
body:before {
    content: "";
    float: left;
    width: 0;
    margin-top: -32767px;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
#task_section {
    background: #2b2b2b;
    border-bottom: 40px solid #252525;
    border-radius: 5px;
    display: block;
    height:680px;
    width: 640px;
    position: relative;
    -webkit-box-shadow: 0px 4px 12px #1c1c1c;
    -moz-box-shadow: 0px 4px 12px #1c1c1c;
    box-shadow: 0px 4px 12px #1c1c1c;
}
#topbar {
    background: #252525;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px 5px 0px 0px;
    display: block;
    height: 100px;
    width: 640px;
}
#tasks {
    color: #dcdcdc;
    word-wrap: break-word;
    font: 50px 'wherestarsshinethebrightest', serif;
    list-style: none;
    padding: 0;
    height: 540px;
    overflow-x: hidden;
    position: relative;
}
#tasks li:first-child {
    min-height: auto;
    padding: 10px 20px 10px 20px;
}
#tasks li {
    min-height: 90px;
    padding: 19px 20px 19px 30px;
    border-bottom: 1px solid #a7a7a7;
    position: relative;
}
#todo-form {
    margin-top: 10px;
    text-align: center;
    font: 12px 'Helvetica, Arial,sans-serif' !important;
}
input[type="text"] {
    background: url("../images/bginput.png") no-repeat 0 -35px;
    border: none;
    border-radius: 4px;
    color: #333;
    width: 460px;
    height: 35px;
    outline: 0;
    padding: 0 0 0 33px;
    font-size: 12px;
    font-weight: bold !important;
}
input[type="submit"] {
    margin-left: 20px;
    vertical-align: bottom;
    border-radius: 4px;
    border: 0px;
    outline: none;
    width: 70px;
    height: 35px;
    background: url("../images/bginput.png") no-repeat 0 0;
    cursor: pointer;
}
.addtaskbtn {
    display: block;
    width: 71px;
    height: 61px;
    margin: 18px 20px 0 0;
    background: url("../images/addtaskbtn.png") no-repeat;
}
.closex {
    display:block;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 8px;
    top: 8px;
    background: url("../images/bginput.png") no-repeat -70px -70px;
}
.closex:active {
    background: url("../images/bginput.png") no-repeat -70px -82px;
}
#priorityHolder {
    margin: 10px auto 0 auto;
}
#priorityHolder span {
    margin: 0 10px;
}
.priority {
    width: 12px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;        
}
.priority.high {
    background: #E06138;
}
.priority.medium {
    background: #E7B353;
}
.priority.low {
    background: #544f4f;
}