* {
    margin:0;
    padding:0;
} 
/* apply a natural box layout model to all elements */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    *behavior: url(scripts/boxsizing.htc);    
}
/* clearfix */
/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}
html, 
body {
    height: 100%;
}
body {
    width: 100%;
    margin: 0 auto 0 auto;
    background: #282828;
}
/* Opera Fix */
body:before {
    content: "";
    float: left;
    width: 0;
    margin-top: -32767px;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
#task_section {
    background: #2b2b2b;
    border-bottom: 40px solid #252525;
    border-radius: 5px;
    display: block;
    height:680px;
    width: 640px;
    position: relative;
    -webkit-box-shadow: 0px 4px 12px #1c1c1c;
    -moz-box-shadow: 0px 4px 12px #1c1c1c;
    box-shadow: 0px 4px 12px #1c1c1c;
}
#addbar {
    background: #252525;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px 5px 0px 0px;
    display: block;
    height: 100px;
    width: 640px;
}
#tasks {
    color: #dcdcdc;
    word-wrap: break-word;
    font: 55px 'wherestarsshinethebrightest', serif;
    list-style: none;
    padding: 0;
    height: 540px;
    overflow-x: hidden;
    position: relative;
}
#tasks li {
    height: 90px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #a7a7a7;
}
#todo-form {
    margin-top: 6px;
    text-align: center;
    font: 12px 'Helvetica, Arial,sans-serif' !important;
}
#todo-form input[type="text"] {
    background: url("../images/bginput.png") no-repeat 0 0;
    border: none;
    border-radius: 4px;
    color: #333;
    width: 580px;
    height: 35px;
    outline: 0;
    padding: 0 0 0 33px;
    font-size: 12px;
    font-weight: bold !important;
}
#todo-form input[type="text"]:focus {
    background: url("../images/bginput.png") no-repeat 0 -35px;
}


